<nav class="navbar navbar-light navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Ninkasi Beer Recommender</a>
        </div>

        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="[ '/intro' ]">INTRO</a></li>
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="[ '/workflow' ]">WORKFLOW</a></li>
                <li routerLinkActive="active"><a class="nav-link" [routerLink]="[ '/team' ]">TEAM</a></li>
                <li ngbDropdown routerLinkActive="active">
                <!-- <li routerLinkActive="active" class="nav-dropdown"> -->
                    <a ngbDropdownToggle class="nav-link" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        NINKASI APP
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdown">
                        <a ngbDropdownItem [routerLink]="[ '/ninkasi' ]">ABOUT</a>
                        <a ngbDropdownItem [routerLink]="[ '/cbrec' ]">SIMILAR TASTE</a>
                        <a ngbDropdownItem [routerLink]="[ '/cfrec' ]">SIMILAR PEOPLE</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>