<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">We are Team Beerology</h2>
                <h3 class="section-subheading text-muted">Ninkasi is the data product of our capstone project at NYC Data Science Academy.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="../../assets/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Alex Li</h4>
                    <p class="text-muted">Columbia</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <li><a href="https://www.facebook.com/alex.li.ds"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/alex-yuan-li"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="../../assets/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Andrew Wu</h4>
                    <p class="text-muted">NC State</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <li><a href="https://www.facebook.com/xinyuan.ran.15"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/wuxinyuan"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="../../assets/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Nelson Chen</h4>
                    <p class="text-muted">Berkeley</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <li><a href="https://www.facebook.com/nelson.chen"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/nchen9191"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="team-member">
                    <img src="../../assets/team/4.jpg" class="img-responsive img-circle" alt="">
                    <h4>Luke Chu</h4>
                    <p class="text-muted">UCLA</p>
                    <ul class="list-inline social-buttons">
                        <!-- <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li> -->
                        <!-- <li><a href="https://www.facebook.com/lchu122?fref=ts"><i class="fa fa-facebook"></i></a>
                        </li> -->
                        <li><a href="https://www.linkedin.com/in/luke-chu-84aa7156"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p> -->
                <!-- <br><br> -->
            </div>
        </div>
    </div>
</section>