<div class="footer">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-8 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="section-heading">LET'S GET IN TOUCH!</h5>
                <p class="large">Thanks for visiting Ninkasi! Want to know more about this project? Shoot me an email!</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">
                    <!-- <fa-icon [icon]="['fas', 'circle']" stackItemSize="2x"></fa-icon> -->
                    Email
                </h5>

                <ul class="list-unstyled">
                    <li>
                        yuan.li107@gmail.com
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        Team Beerology
    </div>
    <!-- Copyright -->
</div>