<section id="workflow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Workflow</h2>
                <h3 class="section-subheading text-muted">The entire project last for 3 weeks.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../../assets/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>I. Web scraping</h4>
                                <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">280,000 beer reviews, info and ratings are scraped from ratebeer.com using Python Scrapy package</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../../assets/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>II. Data Cleaning</h4>
                                <!-- <h4 class="subheading">An Agency is Born</h4> -->
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Beer info and rating data are cleaned. Text mining, tokenization, spell check and lemmatization are performed on beer reviews</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../../assets/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>III. Content-based</h4>
                                <!-- <h4 class="subheading">Transition to Full Service</h4> -->
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Term Frequency–Inverse Document Frequency (TF-IDF) are calculated on document-term matrix, Latent Semantic Indexing (LSI) is applied, and cosine similarity matrix is generated.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../../assets/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>IV. Collaborative Filtering</h4>
                                <!-- <h4 class="subheading">Phase Two Expansion</h4> -->
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Two algorithms are applied. A Matrix factorization method-SVD++ and an unsupervised deep learning technique-Restricted Boltzmann Machine (RBM). The results from two methods are combined to reconstruct user-item matrix.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Ninkasi
                                <br>Beer
                                <br>APP</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>