<nav class="navbar navbar-light navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Explore More Beer</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" class="nav-link"><a [routerLink]="[ '/cbrec' ]">SIMILAR TASTE</a></li>
                <li routerLinkActive="active" class="nav-link"><a [routerLink]="[ '/cfrec' ]">SIMILAR PEOPLE</a></li>
            </ul>
        </div>

    </div>
</nav>